*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    max-width: 900px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    /*     height: 100vh;
   */
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .text-container{
      color: black;
      font-family: 'Monoton', cursive;
  }
  
  .select-this {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 60%;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    font-size: 180%;
    color: whitesmoke;
    width: 100%;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    background-color: #E6C091;
    border: 2px solid white;
    border-radius: 25px;
    color: rgb(28, 46, 240);
    font-size: 1rem;
    margin-right: 45px;
    padding: 10px 35px;
    opacity: 0.6;
    transition: 0.3s;
    outline-style: none;
  }
  
  button:hover {
    opacity: 1;
  }
  
  
  .checked {
    background-color: green;
  }
  
  .input-wrapper {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
  input {
    font-size: 80%;
    text-align: center;
    width: 100%;
    margin: 10px auto;
  }
  
  .result-section {
    display: flex;
    flex-flow: row wrap;
  }
  .country-div {
    font-family: 'Germania One', cursive;

    border-radius: 20px;
    background: rgba(53, 22, 47, 0.564);
    color: rgb(155, 191, 197);

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    width: 200px;
    margin: 5px auto;
    padding: 5px auto;
  }
  
  .flag-image{
    width: 40%;
  }
  /* span{
  
  } */
  
  .background-video{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
  }

  video{
      height: 100vh;
      width: 100vw;
      object-fit: cover;
      position: fixed;
  }

  